body {
    font-size: 25px;
    background-color: white;
    color: black;
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
  }
 /** HEADER **/
  #header-nav {
    background-color: rgb(134, 129, 129);
    color: black;
    border-radius: 0;
    border: 3px solid black;
  }

  /* .navbar-brand {
    padding-top: 25px;
  } */

  .navbar-brand h1 { /* brand name */
    /* font-family: 'Lora', serif; */
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
  }
  .navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
  }

  .navbar-items {
    text-align: center;
    background-color: white;
    color: black;
    border: 3px solid black;
  }

  #toggle-button {
    border-color: black;
  }

  #toggle-span {
    background-color: black;
  }

  /* End of HEADER */

  /* Container and Jumbotron */
  #page-heading {
    margin-top: 15px;
    margin-bottom: 20px;
  }

  #body-container {
    height: 400px;
    overflow-y: scroll;
  }

  #body-cell {
    background-color: gray;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
  }

  #cell-content {
    font-size: 16px;
    font-weight:600;
  }

  h3 {
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
  }
  /* End of Container and Jumbotron */
  
 

  /********** Large devices only **********/
  @media (min-width: 1200px) {
    .container .jumbotron {
      height: 675px;
    }
  }

  /********** Medium devices only **********/
  @media (min-width: 992px) and (max-width: 1199px) {
  
    /* Home Page */
    .container .jumbotron {
      height: 558px;
    }
  }
    /* End Home Page */

  /********** Small devices only **********/
  @media (min-width: 768px) and (max-width: 991px) {
    /* Home Page */
    .container .jumbotron {
      height: 432px;
    }
    /* End Home Page */
  }

  /********** Extra small devices only **********/
  @media (max-width: 767px) {

    /* Home Page */
    .container .jumbotron {
        margin-top: 30px;
        padding: 0;
    }

    #body-cell {
      width: 80%;
      margin-left: 10%;
      margin-right: 10%;
    }

  }